section {
    padding: 6.875rem 3.125rem;
}
.lightbox-section{
    display: flex;
    justify-content: center;;
}
.lightbox-section img{
    width: 100%;
    margin-bottom: 30px;
    
}
.lightbox-section .box{
    padding: 0 1.5625rem;
    cursor: pointer;

}
.lightbox-section .content button{
    color: #fff;
    padding: 8px 10px;
    background: #f26d78;
    margin-bottom: 20px;
}
.lightbox-section .content h3{
    color: #415465;
    font-weight: 550;
    line-height: 1.2em;
    font-size: 1.875em;
}
.lightbox-section .content span{
    display: inline-block;
    padding: 0;
    padding-bottom: 8px;
    background: transparent;
    margin-bottom: 0;
    color: #415465;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    font-weight: bolder;
}
.lightbox-section .content span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    background: #ffea88;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: -1;
}
.lightbox-section .content:hover span::after{
    height: 15px;
}
/*
lightbox section end

slider section start
*/
.slider-section{
    padding: 0;
    display: flex;
    align-items: stretch;
    min-height: 600px;
}
.slider-section .image {
    padding: 6.875rem 3.125rem;
    background: #edc0b2;
    width: 50%;
    position: relative; 
}

.slider-section .content {
        background: #f26d78;
        display: flex;
        align-items: center;
        width: 50%;
      
        padding: 6.875rem 3.125rem;
}
.slider-section .inner{
    width: calc(600px - 3.125rem);
    max-width: 100%;
    margin-right: auto;
    padding-left: 9.375rem;
}
.slider-section .content h3{
    color: #f26d78;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 1.625em;
    line-height: 1em;
    background-color: #415465;
    padding: 10px 12.5px;
    display: inline-block;
}
.slider-section .content p{
    font-size: 19px;
    letter-spacing: 0.1;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

.parallax-section{
    background-image: url('../img/contact-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
